@import "../../sass/all";
.navbar {
    background-image: url(../../assets/img/bg.png);
    border-bottom: 1px solid #010101;
    background-position-y: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    a:hover{
        text-decoration: none;
    }
    .navbar-brand {
        color: #000;
        margin-left: 50px;
    }
    .navbar-collapse {
        @include respond-to(medium) {
            position: absolute;
            right: 60px;
        }
        &.show {
            height: auto;
        }
        .navbar-nav {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            .nav-item,
            .nav-link {
                color: #000;
                .dropdown-menu {
                    .dropdown-item {
                        text-align: center;
                    }
                }
            }
        }
    }
}
