.Count-container {
    position: absolute;
    bottom: 30px;
    height: 120px;
    text-align: center;
    background-color: white;
    padding: 20px;
    // border: 1px solid #BEBEBE;
    border-radius: 10px;
    .inc-container {
        padding: 15px 0;
        .btn {
            width: 25px;
            height: 26px;
            padding: 0;
            margin: 0 15px;
        }
        p {
            margin: 0;
        }
    }
}
