.listItem {
    .card {
        //width: 200px;
        height: auto;
        margin: 10px;
        cursor: pointer;
        text-decoration: none;
        color: #000;
        padding-bottom: 5px;
        .imgProduct {
            width: 150px;
            height: 150px;
            margin: 0 auto;
        }
        .card-body {
            padding: 10px;
            //border-bottom: 1px solid #e7e7e7;
            .card-title {
                margin-top: 10px;
            }
            .card-text {
                &.descriptProduct {
                    font-size: 10px;
                }
                &.price {
                    font-weight: 800;
                }
            }
        }
        &.card-item {
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &:hover {
        text-decoration: none;
        color: #000;
    }
}
