.listItem {
    .card {
        height: auto;
        margin: 10px;
        cursor: pointer;
        text-decoration: none;
        color: #000;
        padding-bottom: 5px;
        .imgProduct {
            text-align: center;
            height: 250px;
            img {
                height: 100%;
            }
        }
        .card-body {
            height: 180px;
            padding: 50px 20px 10px 20px;
            text-align: center;
            .card-title {
                margin-top: 10px;
            }
            .card-text {
                &.descriptProduct {
                    font-size: 10px;
                }
                &.price {
                    font-weight: 800;
                }
            }
        }
        &.card-item {
            &:hover {
                //transform: scale(1.1);
                box-shadow: 5px 10px 10px #888888;
            }
        }
    }
    &:hover {
        text-decoration: none;
        color: #000;
    }
}
