.detailProduct {
    margin-top: 50px;
    padding: 30px 50px;
    background-color: #fcfbfe;
    .itemDetail {
        padding-bottom: 50px;
        margin: 50px 0;
        .rowDetail {
            min-height: 500px;
            h4 {
                margin: 50px;
            }
            img {
                border: 1px solid #bebebe;
                border-radius: 10px;
                margin-top: 60px;
                width: 100%;
            }
            .descriptionDetail {
                padding-top: 100px;
            }
            .priceDetail {
                padding-top: 40px;
                font-weight: 700;
            }
            .irCarro {
                position: absolute;
                bottom: 30px;
                height: 120px;
            }
        }
    }
}
