.carro {
    margin-top: 150px; 
    min-height: 600px;  
    .listItem {
        width: 100%;
        .card-cart{
            margin-top: 50px;
            border-bottom: 1px solid;
            margin-bottom: 50px;
            text-align: center;
            .cart-img {
                width: 150px;
                height: 150px;
                margin: 0 auto;
            }
            .cart-desc{
                margin-top: 40px;
                input {
                    width: 50px;
                }
                .price {
                    font-weight: 700;
                }
            }
        }
    }
}
